<html>
<script src="angular.min.js"  type="text/javascript"></script>
<script src="underscore.min.js"  type="text/javascript"></script>
<script src="main.js"  type="text/javascript"></script>
<link href="bootstrap.min.css" rel="stylesheet" />
<link href="main.css" rel="stylesheet" />
<title>Mission Mars</title>
<h1>MISSION MARS</h1>
<body data-ng-app="MissionMars">
  <div data-ng-controller="mainMission">
    <div class="row-fluid">
      <div class="row-fluid">
      <span><u>Define a name to the following Roman numerals.(Default values are defined initially):-</u>
      </span>
      </div>
      <div class="row-fluid">
        <span>I:</span>
        <input type="text" data-ng-model="Main.romanNumbers.I.name"/><br/>
        <span class="span3">V:<input type="text" data-ng-model="Main.romanNumbers.V.name"/></span><br/>
        <span class="span3">X:<input type="text" data-ng-model="Main.romanNumbers.X.name"/></span><br/>
        <span class="span3">L:<input type="text" data-ng-model="Main.romanNumbers.L.name"/></span><br/>
      </div>
      <div class="row-fluid">
        <span class="span3">C:<input type="text" data-ng-model="Main.romanNumbers.C.name"/></span><br/>
        <span class="span3">D:<input type="text" data-ng-model="Main.romanNumbers.D.name"/></span><br/>
        <span class="span3">M:<input type="text" data-ng-model="Main.romanNumbers.M.name"/></span><br/>
      </div><div class="row-fluid">
      <span><u>Add object for trade:-</u>
      </span>
      </div>
      <div class="row-fluid">
        Enter an object name to be added for trade:<input type="text" data-ng-model="Main.newObject"/>
        <input type="button" value="Add" data-ng-click="Main.AddNewObject()"/>
      </div>
      <div class="row-fluid">
      <span><u>Objects available for trade:-</u>
      </span>
      </div>
      <div class="row-fluid" data-ng-repeat="metal in Main.Metals">
        <span class="span3"><input type="text" data-ng-model="metal.units" data-ng-change="Main.AssignValuesForMetals()"/>{{metal.name}} = </span>
        <span class="span3"><input type="text" data-ng-model="metal.totalCredits" data-ng-change="Main.AssignValuesForMetals()"/></span><br/>
      </div>
            <div class="row-fluid">
      <span><u>Value of each object:-</u>
      </span>
      </div>
      <div class="row-fluid" data-ng-repeat="metal in Main.Metals">
        <b>{{metal.name}} </b>=<span class="span3" data-ng-bind="metal.value"></span><br/>
      </div>

    </div>

    Enter the string here:<input type="text" data-ng-change="Main.CalculateTotalCredits()" data-ng-model="Main.input"/><br/>
    <div class="row-fluid">
    <span><u>Final result:-</u><br/>
    </span>
    </div>
    <b><b><span>Total credits : {{Main.arabic}}</span></b>
  </div>
<hr/>
  <div class="row-fluid">
    <input type="reset" value="Reset page" onclick="window.location.reload()"/>
  </div>
</body>
</html>
